<cdk-virtual-scroll-viewport style="height: 490px" itemSize="50">
<ul>
  <li *cdkVirtualFor="let list of client;">
      <div class="orders">
           <div>
              <span class="orders-title">ID клиента:  </span>
              <span>{{list.id}}</span>

            </div>
         <div>
            <span class="orders-title">Название:  </span>
             <span>{{list.name}}</span>
          </div>
         <div>
            <span class="orders-title">Телефон:   </span>
            <span>{{list.phone}}</span>
         </div>
      </div>
   </li>
</ul>
</cdk-virtual-scroll-viewport>

