/* You can add global styles to this file, and also import other style files */
html,body{
   margin: 2%;
   background-color: rgb(250, 250, 250);
   font-family: "Noto Sans", "Tahoma", sans-serif;
}



.map-ticket{
    display: flex;
    width: auto;
    height: auto;
    background-color: rgb(250, 250, 250);
    justify-content: space-between;
   .map-ticket-list{
       height: auto;
       width: 40%;
       border-radius: 1%;
       -webkit-box-shadow: -1px -2px 47px -8px rgba(34, 60, 80, 0.12);
       -moz-box-shadow: -1px -2px 47px -8px rgba(34, 60, 80, 0.12);
       box-shadow: -1px -2px 47px -8px rgba(34, 60, 80, 0.12);



    }

   .map-ticket-map{
       height: 50%;
       width: 58%;
       border-radius: 1%;
       -webkit-box-shadow: 9px 4px 50px -5px rgba(34, 60, 80, 0.16);
       -moz-box-shadow: 9px 4px 50px -5px rgba(34, 60, 80, 0.16);
       box-shadow: 9px 4px 50px -5px rgba(34, 60, 80, 0.16);
    }

 }


ul{
  list-style: none;
  padding: 2%;
  li{
    width: 100%;
    padding-bottom: 1%;
    margin-top: 5px;
    cursor: pointer;
    -webkit-box-shadow: 2px 1px 43px -10px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 2px 1px 43px -10px rgba(34, 60, 80, 0.2);
    box-shadow: 2px 1px 43px -10px rgba(34, 60, 80, 0.2);
    .orders{
      display: flex;
      flex-direction: column;
      margin-left: 1%;
      div{
        margin-top: 10px;
        span{
          font-size: 12px;
        }
      }

      .orders-title{
        font-weight: bold;
        font-size: 12px;
      }
    }
  }
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dcdcdc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #afafaf;
}


.popupCustom .leaflet-popup-tip,
.popupCustom .leaflet-popup-content-wrapper {
  background: #e0e0e0!important;
  color: #111314;
    .popup{
      .popup-title{
         font-weight: bold; 
       }
    } 
  
}